
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <!-- SITE TITLE -->
    <title>Raleway - Bootstrap Agency Template</title>
    <!-- Latest Bootstrap min CSS -->
    <link rel="stylesheet" href="~/Public/bootstrap/css/bootstrap.min.css">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,300,300i,400,400i,500,600,700">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="~/Public/fonts/font-awesome.min.css">
    <!--- owl carousel Css-->
    <link rel="stylesheet" href="~/Public/owlcarousel/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Public/owlcarousel/css/owl.theme.css">
    <!-- MAGNIFIC CSS -->
    <link rel="stylesheet" href="~/Public/css/magnific-popup.css">
    <!--Flex slider-->
    <link rel="stylesheet" href="~/Public/css/flexslider.css">
    <!-- animate CSS -->
    <link rel="stylesheet" href="~/Public/css/animate.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Public/css/style.css">
   
</head>

<body data-spy="scroll" data-offset="80">
    <!-- START PRELOADER -->
    <div class="preloader">
        <div class="status">
            <div class="status-mes"><h4>Raleway</h4></div>
        </div>
    </div>
    <!-- END PRELOADER -->
    <!-- START NAVBAR -->
    <div class="navbar navbar-default navbar-fixed-top menu-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="index.html" class="navbar-brand"><img src="~/Public/img/logo.png" alt="logo"></a>
            </div>
            <div class="navbar-collapse collapse">
                <nav>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a class="page-scroll" href="#home">Home</a></li>
                        <li><a class="page-scroll" href="#about">About</a></li>
                        <li><a class="page-scroll" href="#process">Process</a></li>
                        <li><a class="page-scroll" href="#work">Works</a></li>
                        <li><a class="page-scroll" href="#client">Clients</a></li>
                        <li><a class="page-scroll" href="#pricing">Pricing</a></li>
                        <li><a class="page-scroll" href="#contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div><!--- END CONTAINER -->
    </div>
    <!-- END NAVBAR -->


    @RenderBody()


    <!-- START FOOTER BOTTOM -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                    <p class="footer_copyright">&copy; 2017 <a href="#">Raleway</a> All Rights Reserved.</p>
                    <div class="footer_social">
                        <ul>
                            <li><a class="f_facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="f_twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="f_google" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="f_linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="f_youtube" href="#"><i class="fa fa-youtube"></i></a></li>
                            <li><a class="f_skype" href="#"><i class="fa fa-skype"></i></a></li>
                        </ul>
                    </div>
                </div><!--- END COL -->
            </div><!--- END ROW -->
        </div><!--- END CONTAINER -->
    </footer>
    <!-- END FOOTER BOTTOM-->
    <!-- Latest jQuery -->
    <script src="~/Public/js/jquery-1.12.4.min.js"></script>
    <!-- Latest compiled and minified Bootstrap -->
    <script src="~/Public/bootstrap/js/bootstrap.min.js"></script>
    <!-- modernizer JS -->
    <script src="~/Public/js/modernizr-2.8.3.min.js"></script>
    <!-- owl-carousel min js  -->
    <script src="~/Public/owlcarousel/js/owl.carousel.min.js"></script>
    <!-- MAGNIFICANT JS -->
    <script src="~/Public/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Public/js/jquery.mixitup.js"></script>
    <!-- jquery flexslider min js -->
    <script src="~/Public/js/jquery.flexslider-min.js"></script>
    <!-- stellar js -->
    <script src="~/Public/js/jquery.stellar.min.js"></script>
    <!-- jquery inview js -->
    <script src="~/Public/js/jquery.inview.min.js"></script>
    <!-- map js -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwIQh7LGryQdDDi-A603lR8NqiF3R_ycA"></script>
    <!-- scrolltopcontrol js -->
    <script src="~/Public/js/scrolltopcontrol.js"></script>
    <!-- WOW - Reveal Animations When You Scroll -->
    <script src="~/Public/js/wow.min.js"></script>
    <!-- scripts js -->
    <script src="~/Public/js/scripts.js"></script>
    <script src="~/Public/js/form.js"></script>
</body>
</html>